<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>idnex</h1>
<th:block>
    <form action="report/hi" method="post">
        ID : <input type="text" name="review_no"><br>
        type : <input type="text" name="report_type"><br>
        type : <input type="text" name="report_member_no"><br>
        type : <input type="text" name="review_no"><br>
        type : <input type="text" name="reporter_no"><br>
        type : <input type="text" name="reportee_no"><br>
        type : <input type="text" name="reportReason_no"><br>

        <input type="submit" value="로그인">


    </form>
</th:block>
</body>
</html>