<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> 포레피 Forepe - 회원정보수정</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700;900&display=swap" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Customized Bootstrap Stylesheet -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/sy.css">

</head>

<body>
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
</div>
<!-- Spinner End -->


<!-- Navbar Start -->
<th:block th:include="header.html"></th:block>
<!-- Navbar End -->


<!-- Page Header Start -->
<!-- Page Header End -->

<div class="container-fluid py-5">
  <div class="container">

    <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <h1 th:text="${postEntity.postName}" class="display-6"></h1>
    </div>

    <div class="mt-right">
      <button>수정</button>
      <form th:action="@{/post/delete/{postId}(postId=${postEntity.postNum})}" method="post">
        <button type="submit" class="delete-button">삭제</button>
      </form>
      <button class="call">신고</button>

      <div class="modal">
        <form action="#">
          <div class="modal_content">
            <h4><label>신고 사유를 선택하세요.</label></h4>

            <input id="advertisement" type="radio" name="call" value="a" checked>
            <label for="advertisement">광고(특정 상품 홍보, 게시판 도배 등)</label><br>
            <input id="insult" type="radio" name="call" value="i">
            <label for="insult">반말, 욕설 등 부적절한 언어 사용</label><br>
            <input id="point" type="radio" name="call" value="p">
            <label for="point">타 회원 비방</label><br>
            <input id="ect" type="radio" name="ect" value="e">
            <label for="ect">기타</label><br>

            <div class="modalReport">
              <button class="modal_report" style="margin: 20px 0;">신고</button>
            </div>
          </div>
        </form>
      </div>
    </div>


    <div class="contents">
      <div class="steps step">
<!--        <div class="image">-->
<!--          <img src="https://dummyimage.com/300x300/eee/000.png" alt="">-->
<!--        </div>-->
        <div class="text">
          <div th:text="${postEntity.postDetail}" class="steptext mt-5 d-flex flex-column min-vh-100" style="margin-top: 20px; background-color: #bec0c1"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Testimonial Start -->
<!--<div class="container mt-5 d-flex flex-column min-vh-100">-->
<!--  <h1 class="post-title" th:text="${postEntity.postName}">Sample Post</h1>-->
<!--  <p class="post-content flex-grow-1" th:text="${postEntity.postDetail}">-->
<!--    &lt;!&ndash; Your post content here &ndash;&gt;-->
<!--  </p>-->

<!--  <div class="btn-container mt-3">-->
<!--    &lt;!&ndash; Button to delete the post &ndash;&gt;-->
<!--    <form th:action="@{/post/delete/{postNum}(postNum=${postEntity.postNum})}" method="post">-->
<!--      &lt;!&ndash; Button to delete the post &ndash;&gt;-->
<!--      <button type="submit" class="btn btn-delete">Delete Post</button>-->
<!--    </form>-->

<!--    &lt;!&ndash; Button to edit the post &ndash;&gt;-->
<!--    <form id="editForm" method="get" th:action="@{/post/update/{postNum}(postNum=${postEntity.postNum})}">-->
<!--      <button type="submit" class="btn btn-edit">Edit Post</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
<!-- Testimonial End -->



<!-- Footer Start -->
<div class="container-fluid bg-dark footer mt-5 py-1 wow fadeIn" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <h4 class="text-primary mb-4">포레피 Forepe </h4>
        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>시흥동 296-1 1층 메타버스 아카데미</p>
        <p class="mb-2"><i class="fa fa-phone-alt text-primary me-3"></i>+012 345 67890</p>
        <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>info@example.com</p>
        <div class="d-flex pt-3">
          <a class="btn btn-square btn-primary rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
          <a class="btn btn-square btn-primary rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-square btn-primary rounded-circle me-2" href=""><i class="fab fa-youtube"></i></a>
          <a class="btn btn-square btn-primary rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-primary mb-4">바로가기</h4>
        <a class="btn btn-link" href="">마이페이지 Mypage</a>
        <a class="btn btn-link" href="">비건 Vegan</a>
        <a class="btn btn-link" href="">락토/오보 Lacto/Ovo</a>
        <a class="btn btn-link" href="">페스코/폴로 Pesco/Polo</a>
        <a class="btn btn-link" href="">리뷰/피드백 Review</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-primary mb-4">리뷰를 남겨주세요!</h4>
        <p class="mb-1">당신의 소중한 의견을 기다리고 있습니다.</p>
        <!--                    <h6 class="text-light">리뷰게시판 바로가기</h6>-->
        <p class="mb-1">어떤 내용이든 좋아요!</p>
        <!--                    <h6 class="text-light">09:00 am - 12:00 pm</h6>-->
        <p class="mb-1">자유롭게 남겨주세요.</p>
        <!--                    <h6 class="text-light">Closed</h6>-->
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-primary mb-4">레시피 빠른검색</h4>
        <p>오늘은 어떤 레시피가 기다리고 있을까요?</p>
        <div class="position-relative w-100">
          <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="재료명을 입력하세요.">
          <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">검색</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->


<!-- Copyright Start -->
<div class="container-fluid copyright py-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        &copy; <a class="fw-medium" href="#">포레피 Forepe</a>, All Right Reserved.
      </div>
      <div class="col-md-6 text-center text-md-end">
        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
        Designed By <a class="fw-medium" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a class="fw-medium" href="https://themewagon.com">ThemeWagon</a>
      </div>
    </div>
  </div>
</div>
<!-- Copyright End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script src="/js/loginCheck.js"></script>
</body>

</html>