<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.forepeproject.member.query.domain.repository.MemberMapper">

    <select id="findMemberByNum" parameterType="int" resultType="com.ohgiraffers.forepeproject.member.command.domain.aggregate.entity.MemberEntity">
        SELECT
               member_nickname
             , social_login
         FROM member
        WHERE member_num = #{memberNum}
    </select>
</mapper>